* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #c0c0c0;
  font-size: 20px;
  font-family: helvetica;
  maz-width: 1000px;
}
.padre {
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.padre article {
  background: #8b0000;
  cursor: pointer;
  display: inline-block;
  margin: 20px auto;
  padding: 10px 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  height: 600px;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
@-webkit-keyframes nombre {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }
}
.hijo {
  background: #f00;
  margin-top: -80px;
  height: 80px;
  -webkit-transition: all 0.25s;
  -webkit-transition-delay: 0.5s;
}
@-webkit-keyframes algo {
  0% {
    color: #f00;
  }

  100% {
    color: #808000;
  }
}
@-webkit-keyframes nombre2 {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(0.8);
    opacity: 0.5;
  }
}
