opacidad=rgba(0,0,0,0.5)

*
	margin 0
	padding 0

body
	background silver
	font-size 20px
	font-family helvetica,arial

header 
	background-image url('https://d30su0b7sry5gh.cloudfront.net/repo/vj2sWdV1/images/bEoXcOGk.jpg')

	background-size 90% 80%
	background-repeat no-repeat
	background-position 50% 50%

	border 1px solid red
	width 80%
	margin 30px auto
	height 400px
	padding 8px

header nav ul li
	background #FF5D55
	box-shadow 2px 2px 0px opacidad
	color #fff
	cursor pointer
	display inline-block
	font-size 20px
	font-weigth bold
	
	-webkit-transform skewX(-8deg)
	-moz-transform skewX(-8deg)
	-ms-transform skewX(-8deg)
	-o-transform skewX(-8deg)
	transform skewX(-8deg)

	-webkit-transition all 0.35s
	-moz-transition all 0.35s
	-ms-transition all 0.35s
	-o-transition all 0.35s
	transition all 0.35s
	padding 5px 8px
	text-aling left


header nav ul li:hover
	background #F7372D
	box-shadow 2px 2px 0px #8F100A
	color opacidad
	padding 5px 13px
	text-shadow 0px 0px 0px black

header h1
	color white
	position absolute
	top 210px
	left 15%
	text-shadow 2px 2px 5px black

#Juegos-disponibles
	border 1px solid red
	width 80%
	padding 8px
	margin 0 auto
#Juegos-disponibles .indice
	width 100%
	border-bottom 2px solid red
	padding 5px
 

