* {
  margin: 0;
  padding: 0;
}
body {
  background: #e7e7e7;
  width: 1000px;
  font-size: 20px;
  font-family: Open Sans sans-serif;
  margin: 0 auto;
}
header {
  background: #fd9287;
  color: #fff;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
#wallpapper-zone {
  background: #333;
  width: 80%;
  height: 300px;
  margin: 10px auto;
}
#Seccion-articulos {
  color: #444;
  width: 80%;
  height: 400px;
  margin: 0 auto;
}
#Seccion-articulos .title {
  border-top: 5px solid #fd9287;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fd9287;
  color: #eb6052;
  padding: 5px;
  text-align: left;
  font-size: 18px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  width: 38%;
}
#Seccion-articulos .title:hover {
  border-top: 8px solid #fd9287;
  border-bottom: 8px solid #eb6052;
  cursor: pointer;
}
#Seccion-articulos ul {
  text-align: center;
}
#Seccion-articulos ul ol {
  background: #fff;
  border-bottom: 2px solid #f98c81;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  padding: 20px 5px;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  line-height: 1.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 30%;
}
#Seccion-articulos ul ol:first-child {
  display: none;
}
#Seccion-articulos ul ol:hover {
  border-bottom: 5px solid #eb6052;
  background: #f98c81;
  color: #fff;
}
#Seccion-articulos ul ol div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 2px 3px 0px rgba(0,0,0,0.5);
  display: inline-block;
  margin-top: 8px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40%;
  height: 120px;
}
#Seccion-articulos ul ol div p {
  margin-top: -30px;
  font-size: 16px;
}
#Seccion-articulos ul ol .hora {
  border-bottom: 1px solid #aaa;
  padding: 3px 25%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#Seccion-articulos ul ol:hover .hora {
  border-bottom: 1px solid #fff;
}
#Seccion-articulos ul ol .pozo {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}
#Seccion-articulos ul ol button {
  background: #f98c81;
  border-radius: 50px;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 15%;
  position: relative;
  top: 10px;
  height: auto;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  outline: none;
}
#Seccion-articulos ul ol button:hover {
  background: #eb6052;
  border: none;
}
#Seccion-articulos ul ol:hover button {
  background: #eb6052;
}
#Seccion-articulos ul ol small {
  position: relative;
  top: 10px;
}
@media screen and (max-width:920px) {
  #Seccion-articulos ul ol {
    padding: 55px 5px;
    margin: 30px auto;
    margin-left: 10px;
    width: 40%;
  }
}
@media screen and (max-width:612px) {
  #Seccion-articulos ul ol {
    width: 80%;
  }
}
@media screen and (max-width:312px) {
  #Seccion-articulos ul ol {
    width: 100%;
  }
}
