opacidad=rgba(0,0,0,0.5)
Pulpo-Color=#FF5D55

*
	margin 0
	padding 0

body
	background #fff
	font-size 20px
	font-family Lucida Sans Unicode
	font-variant small-caps

header 
	background -webkit-linear-gradient(-85deg,#D62D26 106px ,#FF5D55 30px)
	color #fff
	position fixed
	top 0px 
	left 0px
	width 100%
	z-index 200
header h1
	text-align center
	text-shadow 2px -1px 0px darkred

header a 
	color white
	text-decoration none
	text-shadow 1px 1px 0px rgb(255, 113, 113)
	
header nav ul li 
	display inline-block
	border-left 1px solid #fff
	margin-right 2px	
	text-align center
	padding 3px 10px
	-webkit-transition all 0.25s
	-moz-transition all 0.25s
	-ms-transition all 0.25s
	-o-transition all 0.25s
	transition all 0.25s
	
header nav 
	text-align center

header nav ul li:hover
	padding 3px 15px

header nav ul li:hover a 
	color darkred

header nav ul li:first-child
	border-left 2px solid #fff

header nav ul li:last-child
	border-right 2px solid #fff