body, ul, p, h1, h2, h3{
	margin:0;
	padding: 0;
}
.container{
	width:100%;
	max-width: 960px;
	min-width: 280px;
	margin: 0 auto;
}
.header{
	float: left;
	width:100%;
}
#logo{
	float: left;
	width:60px;
	height: 40px;
	background: gold;
}
ul#menu_options li{
	list-style: none;
	float: right;
	margin:0 10px;
}
.preposition_slide{
	overflow: hidden;
	width:100%;
	background: #ffcccc;
	height: 300px;
}
.preposition_slide img{
	width:100%;
}