* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #fff;
  font-family: helvetica;
}
a {
  display: block;
}
/*texto resaltado*/
.Texto_a_destacar {
  color: #000;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}
/*end texto resaltado*/
/*titulo de los equipos*/
.texto_titulo_equipos {
  font-size: 0.9em;
}
/*end texto de los equipos*/
/*texto del pozo de los creditos*/
.texto_pozo_creditos {
  font-size: 0.8em;
  line-height: 3;
}
/*end texto del pozo */
/*Indicador de la hora del partido en juego */
.texto_hora_partido {
  line-height: 3;
  font-size: 1em;
}
/*end hora del partido*/
/*Contenedor de cajas versus*/
#games_publish {
  background: #eee;
  padding: 25px 20px;
  margin: 300px auto;
  width: 70%;
  height: 500px;
}
/*Termina  Contenedor de cajas versus */
/*Titulo de la seccion de juegos publicados*/
.titulo_juegos_publicados {
  position: relative;
  top: -10px;
  font-size: 1.2em;
}
/*termina titulo de juegos publicados*/
/*caja de quipos a enfrentados*/
.caja_versus {
  background: #fff;
  display: inline-block;
  border-bottom: 3px solid #00a478;
  cursor: default;
  padding: 0.5em 5px;
  max-width: 280px;
  width: 33%;
  max-width: 280px;
  height: 220px;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  margin: 15px auto;
  margin-left: 10px;
  overflow: hidden;
  -webkit-transition: all linear 0.35s;
  -moz-transition: all linear 0.35s;
  -ms-transition: all linear 0.35s;
  -o-transition: all linear 0.35s;
  transition: all linear 0.35s;
}
.caja_versus:hover {
  border-bottom: 5px solid rgba(0,0,0,0.5);
  color: #fff;
  -webkit-animation: versus forwards 0.5s;
}
.caja_versus:hover .formulario_marcador label {
  display: block;
}
.caja_versus:hover .formulario_marcador input {
  display: inline-block;
}
.caja_versus:hover .texto_titulo_equipos {
  color: rgba(0,0,0,0.5);
}
.caja_versus:hover .iconos_bandera {
  margin: 135px auto;
}
/*end caja de quipos a enfrentados*/
.boton_acción {
  background: #999;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  color: #000;
  max-width: 300px;
  width: 80%;
  height: 30px;
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.boton_acción:hover {
  background: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
  color: #fff;
}
.iconos_bandera {
  padding: 1em 0px;
  margin: 0 auto;
  width: 90%;
  max-width: 260px;
  height: 80px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.55s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.iconos_bandera img {
  background: #008000;
  border: none;
  margin: 0px 1em;
  height: 60px;
  width: 60px;
}
.seccion_exito {
  background: #00a478;
  cursor: default;
  display: block;
  padding: 5px;
  margin: -125px auto;
  width: 80%;
  height: 250px;
}
.formulario_marcador label {
  display: none;
  margin-top: 100px;
}
.formulario_marcador input {
  display: none;
  margin: 30px 25px;
  height: 40px;
  width: 40px;
}
/*animaciones de los items*/
/*animacion de la caja versus*/
@-webkit-keyframes versus {
  0% {
    background: #fff;
  }

  100% {
    background: rgba(0,0,0,0.5);
    padding: 3em 5px;
  }
}
/*end animacion de la caja versus*/
/*end animaciones de los items*/
