* {
  padding: 0px;
  margin: 0px;
}
body {
  background: #fff;
  font-family: helvetica;
}
a {
  display: block;
}
/*texto resaltado*/
.Texto_a_destacar {
  color: #000;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}
/*end texto resaltado*/
/*titulo de los equipos*/
.texto_titulo_equipos {
  color: #000;
  font-size: 0.9em;
}
/*end texto de los equipos*/
/*texto del pozo de los creditos*/
.texto_pozo_creditos {
  font-size: 0.8em;
  line-height: 3;
}
/*end texto del pozo */
/*Indicador de la hora del partido en juego */
.texto_hora_partido {
  line-height: 3;
  font-size: 0.8em;
}
/*end hora del partido*/
/*Contenedor de cajas versus*/
#games_publish {
  background: #eee;
  padding: 25px 20px;
  margin: 300px auto;
  width: 70%;
  height: 500px;
}
/*Termina  Contenedor de cajas versus */
/*Titulo de la seccion de juegos publicados*/
.titulo_juegos_publicados {
  position: relative;
  top: -10px;
  font-size: 1.2em;
}
/*termina titulo de juegos publicados*/
/*caja de quipos a enfrentados*/
.caja_versus {
  background: #fff;
  box-shadow: -4px 4px 0px #969696;
  display: inline-block;
  padding: 0.5em 5px;
  max-width: 280px;
  width: 33%;
  max-width: 280px;
  height: 220px;
  line-height: 1.5;
  text-align: center;
  word-break: break-word;
  margin: 15px auto;
  margin-left: 10px;
}
/*end caja de quipos a enfrentados*/
.boton_acción {
  border: none;
  border-radius: 40px;
  box-shadow: -4px 4px 0px rgba(0,0,0,0.5);
  cursor: pointer;
  color: #000;
  max-width: 300px;
  width: 80%;
  height: 30px;
  outline: none;
}
.iconos_bandera {
  padding: 1em 0px;
  margin: 0 auto;
  width: 90%;
  max-width: 260px;
  height: 80px;
  text-align: center;
}
.iconos_bandera img {
  background: #008000;
  border: none;
  margin: 0px 1em;
  height: 60px;
  width: 60px;
}
